name: vulnerable

on:
  schedule:
    - cron: "0 9 * * 0" # every Sunday at 09:00 UTC
  workflow_dispatch:

permissions:
  contents: read

jobs:
  flake:
    runs-on: ubuntu-latest
    steps:
      - name: Initialize
        uses: spotdemo4/nix-init@01a22e674b142706b2d3bd2ed1967746c760328c # v1.8.10
        with:
          shell: vulnerable

      - run: flake-checker -f
