name: vulnerable

on:
  schedule:
    - cron: "0 9 * * 0" # every Sunday at 09:00 UTC
  workflow_dispatch:

permissions:
  contents: read

jobs:
  flake:
    runs-on: ubuntu-latest
    steps:
      - name: Initialize
        uses: spotdemo4/nix-init@9d6be645ffe171f8c312749b8879b5a57260c481 # v1.9.0
        with:
          shell: vulnerable

      - run: flake-checker -f
