name: vulnerable

on:
  schedule:
    - cron: "0 9 * * 0" # every Sunday at 09:00 UTC
  workflow_dispatch:

permissions:
  contents: read

jobs:
  flake:
    runs-on: ubuntu-latest
    steps:
      - name: Initialize
        uses: spotdemo4/nix-init@b4960b18400ab66db219a8020941e41512f426a8 # v1.8.9
        with:
          shell: vulnerable

      - run: flake-checker -f
