name: vulnerable

on:
  schedule:
    - cron: "0 9 * * 0" # every Sunday at 09:00 UTC
  workflow_dispatch:

permissions:
  contents: read

jobs:
  flake:
    runs-on: ubuntu-latest
    steps:
      - name: Initialize
        uses: spotdemo4/nix-init@081eaaf70d8590936c65966af8854d79d39f3108 # v1.8.12
        with:
          shell: vulnerable

      - run: flake-checker -f
